Bitwarden/
calibre/
cantata/
cef_user_data/
chromium/
configstore/
dconf/
Dharkael/
discord/
Element/
enchant/
filezilla/
firewall/
flameshot/
GIMP/
GNU\ Radio/
gtk-2.0/
gtk-3.0/
heroic/
hexchat/
joplin-desktop/
Joplin/
joplin/
Keybase/
keybase/
KindleComicConverter/
LBRY/
lbry/
legendary/
libreoffice/
libvirt/*/
lutris/
menus/
Nextcloud/
nvim-qt/
obs-studio/
onlyoffice/
optimus-manager/
pulse/
qBittorrent/
QtProject.conf
spotify/
Trolltech.conf
unity3d/
VirtualBox/
vlc/
zoomus.conf
