Bitwarden/
calibre/
cef_user_data/
configstore/
dconf/
Dharkael/
enchant/
firewall/
GNU\ Radio/
gtk-2.0/
gtk-3.0/
hexchat/
kdeglobals
keybase/
Keybase/
KindleComicConverter/
konsolerc
libvirt/*/
menus/
obs-studio/
onlyoffice/
pulse/
qBittorrent/
QtProject.conf
spotify/
Trolltech.conf
vlc/
VirtualBox/
