Bitwarden/
calibre/
configstore/
dconf/
Dharkael/
enchant/
firewall/
gtk-2.0/
hexchat/
kdeglobals
keybase/
Keybase/
konsolerc
menus/
obs-studio/
onlyoffice/
pulse/
qBittorrent/
QtProject.conf
spotify/
telegram-send.conf
Trolltech.conf
vlc/
VirtualBox/
